{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {# added by encore (autocomplete by yarn add autocomplete.js --dev
       <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
       <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
       <script src="{{ asset('js/admin_article_form.js') }}"></script>
        but we dont have to make another entry for algolia-autocomplete cause admin_article_form have it!
    #}
    {{ encore_entry_script_tags('admin_article_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
    {{ encore_entry_link_tags('admin_article_form') }}
{% endblock %}

{% block content_body %}
    <h1>Launch a new Article! 🚀</h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Create!'
    }) }}
{% endblock %}
